/* Reset */
body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* Flex Container */
.flex-container {
  max-width: 960px;
  margin: 0 auto;
}
/* List menu */
.list-menu {
  display: flex;
  flex-wrap: wrap;
}

.list-menu li {
  flex: 1 1 240px;
  padding: 30px;
  background: #9c6644;
  border: 3px solid;
  cursor: pointer;
}

.list-menu li:nth-child(odd) {
  background: #b08968;
}

/* List content */
.list-content {
  display: flex;
  flex-direction: column;
}

.list-content li {
  flex: 1;
  padding: 30px;
  background: #606c38;
  border: 3px solid;
}

.js .list-content li {
  display: none;
}

.js .list-content li.ativo {
  display: block;
}
